{% include 'header.html' %}


          <div class="col-12 page-heading">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0">Admin Details</h4>
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">Admin Details</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="superadmin-detable">
          <div class="admin-viewdetable">
            <h4>View Admin Details</h4>
            <div class="card">
              <div class="card-body">
                <div class="viewadmin-grid">
                  <div class="group-admin col-lg-4 col-sm-6 col-12 float-left">
                    <div class="list-group-admin">
                      <h5 class="card-title">Name</h5>
                      {% for client in message %}
                      <p class="card-text">{{client.user_name}}</p>
                    </div>
                  </div>
                  <div class="group-admin col-lg-4 col-sm-6 col-12 float-left">
                    <div class="list-group-admin">
                      <h5 class="card-title">Email</h5>
                      <p class="card-text">{{client.email}}</p>
                    </div>
                  </div>
                  <div class="group-admin col-lg-4 col-sm-6 col-12 float-left">
                    <div class="list-group-admin">
                      <h5 class="card-title">Contact</h5>
                      <p class="card-text">+91 {{client.mobile}}</p>
                    </div>
                  </div>
                  <div class="group-admin col-lg-4 col-sm-6 col-12 float-left">
                    <div class="list-group-admin">
                      <h5 class="card-title">Country</h5>
                      <p class="card-text">{{client.country}}</p>
                    </div>
                  </div>
                  <div class="group-admin col-lg-4 col-sm-6 col-12 float-left">
                    <div class="list-group-admin">
                      <h5 class="card-title">State</h5>
                      <p class="card-text">{{client.state}}</p>
                    </div>
                  </div>
                  <div class="group-admin col-lg-4 col-sm-6 col-12 float-left">
                    <div class="list-group-admin">
                      <h5 class="card-title">Address</h5>
                      <p class="card-text">{{client.Address}}</p>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--- View Admin Details --->
          <div class="admincredit-detable">
            <div class="card admin-details card-bgchange">
              <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">View Admin Credit Details</h4>
              </div>
              <div class="card-body">
                <table class="table table-hover dt-responsive" id="example1">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Invoice</th>
                      <th>Name</th>
                      <th>Total Amount</th>
                      <th>Payment Method</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd">
                      {% for invoice in messages %}
                      <td class="sorting_1">{{ forloop.counter }}</td>
                      <td>20220{{ forloop.counter }}</td>
                      <td>{{invoice.customer}}</td>
                      <td>{{invoice.price}}</td>
                      <td>{{invoice.payment}}</td>
                      <td>
                        <span class="badge badge-soft-success text-uppercase"> Paid</span>
                      </td>
                      <td>
                        <div class="btn-group btn-group-sm">
                       <a href="/invoice_letter/{{invoice.id}}" class="btn btn-sm btn-warning" target="_blank"><i class="fa fa-eye">View</i></a>
                    </div>
                        {% endfor %}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- View Admin Credit Details end -->
        </div>
        <!-- superadmin-detable end -->
      </div>
    </div>
  </div>
</div>


{% include 'footer.html' %}
