
{% include 'admin_header.html' %}

           <div class="col-12 page-heading">
             <div class="page-title-box d-sm-flex align-items-center justify-content-between">
               <h4 class="mb-sm-0">Manage Template</h4>
               <div class="page-title-right">
                 <ol class="breadcrumb m-0">
                   <li class="breadcrumb-item">
                     <a href="{% url 'admin_dashboard' %}">Dashboard</a>
                   </li>
                   <li class="breadcrumb-item active">Template</li>
                 </ol>
               </div>
             </div>
           </div>
         </div>
         <div class="card product-details card-bgchange">
           <div class="card-header align-items-center d-flex">
             <h4 class="card-title mb-0 flex-grow-1">Template Details</h4>
           </div>
           <div class="card-body">
             <table class="table table-hover dt-responsive" id="templateList">
               <thead>
                 <tr>
                   <th>#</th>
                   <th>Template Name</th>
                   <th>Action</th>
                 </tr>
               </thead>
                 {% for file in message %}
               <tbody>
                 <tr>
                   <td>{{ forloop.counter }}</td>
                   <td>{{ file.templates }}</td>
                   <td>
                     <div class="btn-group btn-group-sm">
                       <a href="/view_template/{{file.id}}" target="_blank"><button type="button" class="btn btn-sm btn-warning" id="template" >
                         <i class="fal fa-eye"></i>
                       </button></a>
                       <!-- <button type="button" class="btn btn-sm btn-danger delete-msg">
                         <i class="fa fa-trash"></i>
                       </button> -->
                     </div>
                   </td>
                 </tr>
<!--                 <tr>-->
<!--                   <td>2</td>-->
<!--                   <td>Secuodsoft Technologies Private Limited</td>-->
<!--                   <td>-->
<!--                     <div class="btn-group btn-group-sm">-->
<!--                       <span class="btn btn-sm btn-warning">-->
<!--                         <a href="../static/templates/Connectix_Software_&_Services_Private_Limited_Email_Marketing/" target="_blank"><i class="fal fa-eye"></i></a>-->
<!--                       </span>-->
<!--                       &lt;!&ndash; <button type="button" class="btn btn-sm btn-danger delete-msg">-->
<!--                         <i class="fa fa-trash"></i>-->
<!--                       </button> &ndash;&gt;-->
<!--                     </div>-->
<!--                   </td>-->
<!--                 </tr>-->
               </tbody>
                 {% endfor %}
             </table>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <div class="modal fade" id="addtemplate">
   <div class="modal-dialog edit-contentdetal">
     <div class="modal-content template-edit">
       <!-- Modal Header -->
       <div class="modal-header">
         <h4 class="modal-title">Template</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>
       <!-- Modal body -->
       <div class="modal-body">
         <form action="">
           <div class="form-group">
             <label for="uname">Template Name </label>
             <input type="text" class="form-control is-valid" id="uname" placeholder="Enter Name" name="uname" required>
           </div>
           <div class="form-group">
             <label for="uemail">Upload Template</label>
             <input type="file" class="form-control-file" id="utemplate" placeholder="Enter Price" name="email" required>
           </div>
           <button type="submit" class="btn btn-primary bttn-editcode">Save <i class="fal fa-arrow-to-right"></i>
           </button>
         </form>
       </div>
     </div>
   </div>
 </div>

{% include 'admin_footer.html' %}

      <!-- JAVASCRIPT -->
      <script type="text/javascript">
         // datatable init. start//
          $(function () {
            $("#templateList").DataTable({
              "responsive": false, "lengthChange": true, "autoWidth": false,"scrollX": true,
            })
          });
         // datatable init. start//
      </script>  

      

      <script>
  $(function() {
    var Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });

    $('.swalDefaultSuccess').click(function() {
      Toast.fire({
        icon: 'success',
        title: 'The information was successfully updated.'
      })
    });
    $('.swalDefaultInfo').click(function() {
      Toast.fire({
        icon: 'info',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultError').click(function() {
      Toast.fire({
        icon: 'error',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultWarning').click(function() {
      Toast.fire({
        icon: 'warning',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultQuestion').click(function() {
      Toast.fire({
        icon: 'question',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });


$('.delete-msg').click(function() {
    Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    // Swal.fire(
    //   'Deleted!',
    //   'Your file has been deleted.',
    //   'success'
    // )
  }
})
});

  });
</script>

