{% include 'admin_header.html' %}
          <div class="col-12 page-heading">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0">Client Details</h4>
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  <li class="breadcrumb-item active">Client Details</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- page-heading -->
        </div>
        <!-- row end -->
        <div class="card admin-details card-bgchange">
          <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">Client Details</h4>
          </div>

          <div class="card-body">
            <table class="table table-hover dt-responsive" id="clientdetail">
              <thead>
                <tr>
<!--                  <th>#</th>-->
                  <th>Name</th>
                  <th>Email</th>
                  <th>Contact</th>
                  <th>Country</th>
                  <th>State</th>
                  <th>Address</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              {% for client in message %}
                  {% if client.admin_id == user.id %}
              <tbody>
                <tr>

<!--                    <td>{{ forloop.counter }}</td>-->
                    <td>{{ client.user_name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.mobile }}</td>
                    <td>{{ client.country }}</td>
                    <td>{{ client.state }}</td>
                    <td>{{ client.Address }}</td>
                    {% if client.is_active %}
                    <td><span class="badge badge-soft-success text-uppercase"> Active </span></td>
                    {% else %}
                    <td><span class="badge badge-soft-danger text-uppercase"> Deactive </span></td>
                    {% endif %}
                  <td>
                    <div class="btn-group btn-group-sm">
                      <button type="button" data-toggle="modal" data-target="#edit" class="btn btn-sm btn-success" onclick="admin({{client.id}})">
                        <i class="fal fa-edit"></i>
                      </button>
                      <span>
                        <a href="/admin_clientview/{{client.id}}" class="btn btn-sm btn-warning">
                          <i class="fa fa-eye"></i>
                        </a>
                      </span>
                    </div>
                  </td>
                </tr>
              </tbody>
              {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
        <!-- admin-details end -->
      </div>
    </div>
    <!-- page-content end -->
  </div>
  <!-- main-content end -->
</div>

<div class="modal adminedit-modal fade" id="edit">
  <div class="modal-dialog edit-contentdetal">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Client Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">

          <form action="/update_client" method="post">
            {% csrf_token %}
            <div class="form-group col-lg-6 col-sm-6 col-12 float-left">
              <label>Client Name </label>
              <div class="icontext-style">
                <span class="icon-group-addon">
                  <i class="far fa-user-alt"></i>
                </span>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter username">
              </div>
            </div>
            <div class="form-group col-lg-6 col-sm-6 col-12 float-left">
              <label>Email Id/User Name</label>
              <div class="icontext-style">
                <span class="icon-group-addon">
                  <i class="far fa-envelope-open-text"></i>
                </span>
                <input type="text" class="form-control" placeholder="Enter Email" id="email" name="email">
              </div>
            </div>
            <div class="form-group col-lg-6 col-sm-6 col-12 float-left">
              <label>Mobile Number</label>
              <div class="icontext-style">
                <span class="icon-group-addon">
                  <i class="far fa-phone-alt"></i>
                </span>
                <input type="text" class="form-control" placeholder="Enter Contact Number" id="mobile" name="mobile">
              </div>
            </div>
            <input id="idname" name="idname" style="display:none">
            <div class="form-group col-lg-6 col-sm-6 col-12 float-left">
              <label>Country</label>
              <div class="icontext-style">
                <span class="icon-group-addon">
                  <i class="far fa-globe-asia"></i>
                </span>
                <select name="country" class="form-control selectpicker" id="country">
                  <option value="">Select your Country</option>
                  <option>India</option>
                  <option>USA</option>
                  <option>Philippines</option>
                </select>
              </div>
            </div>
            <div class="form-group col-lg-6 col-sm-6 col-12 float-left">
              <label>State</label>
              <div class="icontext-style">
                <span class="icon-group-addon">
                  <i class="far fa-map-marker-alt"></i>
                </span>
                <select name="state" class="form-control selectpicker" id="state">
                  <option value="">Select your State</option>
                  <option>Odisha</option>
                  <option>New Delhi</option>
                </select>
              </div>
            </div>
            <div class="form-group col-lg-6 col-sm-6 col-12 float-left">
              <label>Status</label>
              <div class="icontext-style">
                <span class="icon-group-addon">
                  <i class="far fa-user-edit"></i>
                </span>
                <select name="status" class="form-control selectpicker" id="status">
                  <option value="">Active</option>
                  <option>Inactive</option>
                </select>
              </div>
            </div>
            <div class="form-group col-lg-12 col-sm-12 col-12 float-left">
              <label>Address</label>
              <textarea class="form-control" name="address" rows="3" id="address"></textarea>
            </div>
            <button type="submit" class="btn btn-primary bttn-editcode swalDefaultSuccess">Update <i class="fal fa-arrow-to-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> 

{% include 'admin_footer.html' %}

   
<!-- JAVASCRIPT -->
<script>
  $(function() {
      var Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
      });

      $('.swalDefaultSuccess').click(function() {
        Toast.fire({
          icon: 'success',
          title: ' The information was successfully updated.',
        })
      });

      $('.swalDefaultSucces').click(function() {
        Toast.fire({
          icon: 'success',
          title: ' The information was successfully saved.',
        })
      });

      $('.swalDefaultInfo').click(function() {
        Toast.fire({
          icon: 'info',
          title: 'Admin information successfully updated.',
        })
      });
      $('.swalDefaultError').click(function() {
        Toast.fire({
          icon: 'error',
          title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        })
      });
      $('.swalDefaultWarning').click(function() {
        Toast.fire({
          icon: 'warning',
          title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        });
      });
      $('.swalDefaultQuestion').click(function() {
        Toast.fire({
          icon: 'question',
          title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        })
      });
    });
</script>
<script type="text/javascript">
   // datatable init. start//
    $(function () {
     $("#clientdetail").DataTable({
        "responsive": false,
         "lengthChange": true,
         "autoWidth": false,
         "scrollX": true,
      })
    });
   // datatable init. start//
</script>

<script>
  function admin(val)
      {
        var t = val
        {% for client in message %}
                x = '{{client.id}}';
                if (x == t){
                    document.getElementById("name").value="{{client.user_name}}";
                    document.getElementById("email").value="{{client.email}}";
                    document.getElementById("mobile").value="{{client.mobile}}";
                    document.getElementById("country").value="{{client.country}}";
                    document.getElementById("state").value="{{client.state}}";
                    document.getElementById("address").value="{{client.Address}}";
                    document.getElementById("idname").value="{{client.id}}";
                    if ("{{client.is_active}}"=="False"){
                      document.getElementById("status").value="Inactive";
                    }
                }
          {% endfor %}
      }
</script>